services:
    sellsy_api.mapper:
        public: false
        class: Sellsy\Mappers\YmlMapper

    sellsy_api.transport:
        class: Sellsy\Transports\Httpful
        arguments:
            - "%sellsy_api.authentication.consumer.token%"
            - "%sellsy_api.authentication.consumer.secret%"
            - "%sellsy_api.authentication.user.token%"
            - "%sellsy_api.authentication.user.secret%"

    sellsy_api.adapters.base:
        public: false
        class: Sellsy\Adapters\BaseAdapter
        arguments:
            - "@sellsy_api.transport"

    sellsy_api.adapters.mapper:
        public: false
        class: Sellsy\Adapters\MapperAdapter
        arguments:
            - "@sellsy_api.transport"
            - "@sellsy_api.mapper"

    sellsy_api.client:
        class: Sellsy\Client
        arguments:
            - "%sellsy_api.adapter%"

