<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
        colors="true"
        stderr="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        bootstrap="tests/bootstrap.php"
        verbose="true"
>
    <php>
        <ini name="error_reporting" value="-1" />

        <const name="SELLSY_CONSUMER_TOKEN" value="" />
        <const name="SELLSY_CONSUMER_SECRET" value="" />
        <const name="SELLSY_USER_TOKEN" value="" />
        <const name="SELLSY_USER_SECRET" value="" />
    </php>

    <testsuites>
        <testsuite name="Bundle">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
